.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

.buttons
{
    border-radius: 25px;
    font-size: 19px;
    background-color: white;
    border: white;
    width: 300px;
    margin-top: 30px;
}

body
{
    background: #833ab4;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}